
<h3>Nossos ingredientes</h3>




<%= form_with model: @ingrediente do |form| %>
  <%= form.text_field :nome, placeholder: "nome" %>
  <%= form.text_field :relevancia, placeholder: "relevancia" %>
  <%= form.submit %>
<% end %>