
<table>
  <% @ingrediente.each do |ingrediente| %>
    <tr>
      <td><%= link_to ingrediente.nome, ingrediente_path(ingrediente) %></td>
      <td><%= button_to 'Edit', edit_ingrediente_path(ingrediente), method: 'get'%></td>
      <td><%= button_to 'Remove', ingrediente_path(ingrediente), method: 'delete', data: { confirm: 'Certeza?' } %></td>
  <% end %>
</table>
<%= link_to "Novo ingrediente", new_ingrediente_path %>