
<style>
    html {}

    .logo {
        display: flex;
        justify-content: center;
        padding-top: 52px;
    }

    .big_title {

        text-align: center;
        font-size: 32px;
        font-weight: bolder;
        padding: 5px;
        border: 0px;
        line-height: 10px;
    }

    .small_title {
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        line-height: 10px;
    }

    #logoImage {
        width: 200px;
        height: 120px;
        margin: auto;
    }

    .searchBarBox {

        width: 60vw;
        margin: auto;
        padding-top: 32px;
        padding-bottom: 32px;

    }

    #searchBar {
        width: 100%;
        border: '2px';
        outline: none;
        padding: 10px;
        -webkit-appearance: none;
        border-radius: 4px;
        border: 3px solid black;
        font-size: 16px;

    }

    #fullWidth {
        width: 100%;

    }


    .sugestionsBox {
        width: 60vw;
        margin: auto;
        padding-top: 16px;

    }

    .sendButtonBox{
        display: flex;
 
        justify-content: center;
        padding-top: 64px;

    }



</style>


   
        <main class="mdl-layout__content">
            <div class="page-content">



                <!-- Nossa área de titulo  -->
                <div>
                    <div class="logo"> <img
                            src="https://i.ibb.co/b6jJ3Fj/Nossa-home-2-Outlined-Group-8.png"
                            id="logoImage" /> </div>
                    <div>
                        <h1 class="big_title">Encontre a receita ideal para o que você já tem</h1>
                    </div>
                    <div>
                        <h2 class="small_title">Use a barra de busca para pesquisar um ingridiente que você tenha, e
                            selecione o mesmo dentro das sugestões</h2>
                    </div>
                </div>

                <!-- Nossa barra de pesquisa  -->

                <div class="searchBarBox">


         
                        <div>
                            <input type="text" id="searchBar"  placeholder="Pesquisar ingrediente" />
                        
                        </div>
           


                </div>
                <!-- Nossos chips de sugestões  -->




                <div class="sugestionsBox">


                    <div style="color: gray;"> sugestões </div>
                    <br />
                    <div>
                        <button type="button" class="mdl-chip">
                            <span class="mdl-chip__text">Button Chip</span>
                        </button>
                        <button type="button" class="mdl-chip">
                            <span class="mdl-chip__text">Button Chip</span>
                        </button>
                        <button type="button" class="mdl-chip">
                            <span class="mdl-chip__text">Button Chip</span>
                        </button>
                        <button type="button" class="mdl-chip">
                            <span class="mdl-chip__text">Button Chip</span>
                        </button>
                    </div>
                </div>

                <!-- Ingredientes selecionados pelo usuario  -->


                <div class="sugestionsBox">


                    <div style="color: gray;">
                        <hr style="color: lightslategray;">Ingredientes selecionados </hr>   
                    </div>
                    <br />
                    <div>
                        <!-- Deletable Chip -->
                        <span class="mdl-chip mdl-chip--deletable" style = "background-color: rgb(50, 139, 69);">
                            <span class="mdl-chip__text" style = "color: white"><b>Deletable Chip &nbsp;</b></span>
                            <button type="button" class="mdl-chip__action"  ><i class="material-icons"  style = "color:white" >cancel</i></button>
                        </span>

                             <!-- Deletable Chip -->
                             <span class="mdl-chip mdl-chip--deletable" style = "background-color: rgb(50, 139, 69);">
                                <span class="mdl-chip__text" style = "color: white"><b>Deletable Chip &nbsp;</b></span>
                                <button type="button" class="mdl-chip__action"  ><i class="material-icons"  style = "color:white" >cancel</i></button>
                            </span>

                                 <!-- Deletable Chip -->
                        <span class="mdl-chip mdl-chip--deletable" style = "background-color: rgb(50, 139, 69);">
                            <span class="mdl-chip__text" style = "color: white"><b>Deletable Chip &nbsp;</b></span>
                            <button type="button" class="mdl-chip__action"  ><i class="material-icons"  style = "color:white" >cancel</i></button>
                        </span>

                             <!-- Deletable Chip -->
                             <span class="mdl-chip mdl-chip--deletable" style = "background-color: rgb(50, 139, 69);">
                                <span class="mdl-chip__text" style = "color: white"><b>Deletable Chip &nbsp;</b></span>
                                <button type="button" class="mdl-chip__action"  ><i class="material-icons"  style = "color:white" >cancel</i></button>
                            </span>

                                 <!-- Deletable Chip -->
                        <span class="mdl-chip mdl-chip--deletable" style = "background-color: rgb(50, 139, 69);">
                            <span class="mdl-chip__text" style = "color: white"><b>Deletable Chip &nbsp;</b></span>
                            <button type="button" class="mdl-chip__action"  ><i class="material-icons"  style = "color:white" >cancel</i></button>
                        </span>

                    </div>
                </div>

            </div>
        
                 <!--  Buscar  receita  -->


                <div class="sendButtonBox"> 



<!-- Accent-colored raised button with ripple -->

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: black; ">
    <b>Buscar receitas</b>
  </button>
                </div>    

        
        
        </main>




